bin/
configure/O.*
configure/RELEASE.original
data/
db/
dbd/
iocBoot/iocpowerPMAC/envPaths
iocBoot/iocpowerPMAC/st.cmd.*
lib/
powerPMACApp/Db/O.*
powerPMACApp/edl/O.*
powerPMACApp/opi/O.*
powerPMACApp/src/O.*
powerPMACTestApp/Db/O.*
powerPMACTestApp/src/O.*
.set_*.txt
*~
\#*#